include _date

mixin choiseBtn(parObj)
  .from-group
    label=parObj.label      
    p
      span(ng-repeat='item in ' + parObj.collection)
        - var itemId =  "item['" + parObj.val + "']"
        - var itemDesc = "{{item['" + parObj.desc + "']}}"

        button.btn.btn-default(
          type='button'
          ng-model=parObj.model
          btn-radio=itemId
          ng-click=onclick
          )= itemDesc

ng-include(src="'/partials/paziente_head.html'" , scope="" , onload="")

div( ng-controller='PazienteDiagnosiEditCtrl' )
  .content
    br
    form( novalidate , role='form', name='form' )
      fieldset
        .row
          .col-xs-12.col-md-6(style="margin-left:20px;")
            .row 
                +date({label:"Data diagnosi", model:'diagnosi.data_diagnosi', validate:'dataDiagnosiValida($value)'})
                  span &nbsp; ({{ diagnosi.data_diagnosi | fromNowPrecisely }})
            
            .row              
                +choiseBtn({
                  label:"Malattia", 
                  model:'diagnosi.cod_malattia', 
                  collection:'malattia_ric', 
                  val: 'idtipo_malattia', 
                  desc: 'descrizione'})
                //-   onclick: 'malattiaChanged()'
                //- .alert.alert-danger(ng-show='formState.malattia_err')
                //-   strong Errore!
                //-   | durante il salvataggio della malattia
                //-   button.btn.btn-xs.btn-default(ng-click='init()') x

            .row
                //-.form-group    
                +choiseBtn({
                  label:"Fattore Reumatoide", 
                  model:'diagnosi.fattore_reumatoide', 
                  collection:'tipo_risposta', 
                  val: 'idtipo_risposta', 
                  desc: 'risposta'})       

            .row
                +choiseBtn({
                  label:"Anticorpi ANTI-CCP", 
                  model:'diagnosi.anticorpi', 
                  collection:'tipo_risposta', 
                  val: 'idtipo_risposta', 
                  desc: 'risposta'})

            .row
              .col-xs-12.col-md-11(ng-include="'/partials/diagnosi_footer.html'")

          .col-xs-12.col-md-5
            .row 
              button.btn.btn-default(
                  ng-hide='formState.ins_infusione'
                  ng-click='formState.ins_infusione = true'
                  )
                i.glyphicon.glyphicon-plus-sign
                | &nbsp;
                | Aggiungi Infusione


              div(ng-show='formState.ins_infusione')
                +date({label:"Data infusione", model:'nuova_infusione'})
                  button.btn.btn-xs.btn-success(
                    ng-click='add_infusione()') ok
                  button.btn.btn-xs.btn-default(
                    ng-click='formState.ins_infusione = false') x
            br
            .row.alert.alert-info(ng-show='infusioni.length > 0')              
              .row
                .col-md-4
                  p
                    strong Ultima infusione:
                  p(ng-show='infusioni.length > 1')
                    span di &nbsp;
                      span.badge {{infusioni.length}}      
                      | &nbsp; infusioni

                  p(ng-show='infusioni.length > 1')
                    button.btn( 
                      ng-show='infusioni.length > 1 && !formState.show_infusioni' 
                      data-toggle='tooltip'
                      ng-click='formState.show_infusioni = !formState.show_infusioni'
                      data-original-title='mostra l\'elenco delle infusioni')
                      i.glyphicon.glyphicon-eye-open
                      | &nbsp; Mostra 

                    button.btn( 
                      ng-show='infusioni.length > 1 && formState.show_infusioni' 
                      data-toggle='tooltip'
                      ng-click='formState.show_infusioni = !formState.show_infusioni'
                      data-original-title='nascondi l\'elenco delle infusioni')
                      i.glyphicon.glyphicon-eye-close
                      | &nbsp; Nascondi

                .col-md-8
                  p 
                    span.lead {{ infusioni[0].data_infusione | date:'EEEE dd/MM/yyyy'}}
                  p ({{ infusioni[0].data_infusione | fromNowPrecisely }})
                    button.btn.btn-xs.btn-danger(
                      ng-click="setInfToDelete(0)"
                      data-toggle="modal"
                      data-target="#cancella_infusione_dlg")
                      //i.glyphicon.glyphicon-minus-sign
                      i.glyphicon.glyphicon-trash
                  
                  // elenco delle infusioni
                  .fade.in(ng-show='infusioni.length > 1 && formState.show_infusioni' )  

                    button.close(
                      aria-hiden='true'
                      data-dismiss='alert')                

                    p
                      strong tutte le infusioni:                    
                      ul.list-inline                    
                        li(ng-repeat='i in infusioni',style="padding-right:10px;")
                          {{infusioni.length - $index}}) {{i.data_infusione | date:'dd/MM/yyyy'}}
                          button.btn.btn-xs.btn-danger(
                            ng-click="setInfToDelete($index)"
                            data-toggle="modal"
                            data-target="#cancella_infusione_dlg")
                            //i.glyphicon.glyphicon-minus-sign
                            i.glyphicon.glyphicon-trash
                  
            

  #cancella_infusione_dlg.modal.fade(
    tabindex="-1"
    role="dialog"
    aria-labelledby="cancella_infusione_title"
    aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
          h4#cancella_infusione_title.modal-title Cancellazione infusione
        .modal-body
          p Sei sicuro di voler cancellare l'infusione di 
            strong {{ infusioni[formState.infusione_da_cancellare].data_infusione | date:"EEEE dd/MM/yyyy"}} 
            | ?
        .modal-footer
          button.btn.btn-default(data-dismiss="modal") Annulla
          button.btn.btn-danger(data-dismiss="modal", ng-click="cancellaInfusione()") Elimina