div( ng-controller='PazienteDiagnosiEditCtrl' )
  .content
    br
    form( novalidate , role='form', name='form' )
      fieldset
        .col-xs-12.col-md-6
          label.inline-field Data diagnosi
            .form-horizontal
              input( 
                name='data_diagnosi'
                type='text'
                datepicker-popup='dd-MM-yyyy'
                datepicker-options='dateOptions'
                ng-required='true'
                ng-model='diagnosi.data_diagnosi'
                open='calendarOpened'
                ui-validate='dataDiagnosiValida($value)')

              button.btn(ng-click='openCalendar()')
                i.glyphicon.glyphicon-calendar

        .col-xs-12.col-md-6
          label.inline-field Data infusione
            .form-horizontal
              input( 
                name='data_infusione'
                type='text'
                datepicker-popup='dd-MM-yyyy'
                datepicker-options='dateOptions'
                ng-required='true'
                ng-model='diagnosi.data_diagnosi'
                open='calendarOpened'
                ui-validate='dataInfusioneValida($value)')

              button.btn(ng-click='openCalendar()')
                i.glyphicon.glyphicon-calendar
              
        .aler.alert-danger( ng-show='form.data_diagnosi.$error.validator' )
          p Data non valida
        
        br
        br
        //-.form-group
        label.inline-field Malattia
          select.selectpicker.form-control(
            ng-required='true'
            ng-options='malattia.idtipo_malattia as malattia.descrizione for malattia in malattia_ric'
            ng-model='diagnosi.cod_malattia')
            //-option(value='') ----------
        
        //-.form-group    
        label.inline-field Fattore Reumatoide
          select.selectpicker.form-control(
            class='selectpicker'
            ng-required='true'
            ng-options='tipo_risp.risposta as tipo_risp.risposta for tipo_risp in tipo_risposta'
            ng-model='diagnosi.fattore_reumatoide')
            //-option(value='') ----------

        //-.form-group
        label.inline-field Anticorpi
          select.selectpicker.form-control(
            class='selectpicker'
            ng-required='true'
            ng-options='tipo_risp.risposta as tipo_risp.risposta for tipo_risp in tipo_risposta'
            ng-model='diagnosi.anticorpi')
            //-option(value='') ----------
  
  div(ng-include="'/partials/diagnosi_footer.html'")
