div( ng-controller='PazienteDiagnosiEditCtrl' )
  .content
    br
    form( novalidate , role='form', name='form' )
      fieldset
        label Data diagnosi
          .form-horizontal
            input(  
              name='data_diagnosi'
              type='text'
              datepicker-popup='dd-MM-yyyy'
              datepicker-options='dateOptions'
              ng-required='true'
              ng-model='diagnosi.data_diagnosi'
              open='calendarOpened'
              min="'1990-12-31'" 
              max="{{ today.format('YYYY-MM-DD') }}"
              ui-validate='dataDiagnosiValida($value)')

            button.btn(ng-click='openCalendar()')
              i.glyphicon.glyphicon-calendar
              
        .aler.alert-danger( ng-show='form.data_diagnosi.$error.validator' )
          p Data non valida
        
        br
        br
        //-.form-group
        label Malattia
          select.form-control(
            ng-required='true'
            ng-options='malattia.idtipo_malattia as malattia.descrizione for malattia in malattia_ric'
            ng-model='diagnosi.cod_malattia')
            //-option(value='') ----------
        
        //-.form-group    
        label Fattore Reumatoide
          select.form-control(
            ng-required='true'
            ng-options='tipo_risp.risposta as tipo_risp.risposta for tipo_risp in tipo_risposta'
            ng-model='diagnosi.fattore_reumatoide')
            //-option(value='') ----------

        //-.form-group
        label Anticorpi
          select.form-control(
            ng-required='true'
            ng-options='tipo_risp.risposta as tipo_risp.risposta for tipo_risp in tipo_risposta'
            ng-model='diagnosi.anticorpi')
            //-option(value='') ----------
  
  ng-include('diagnosi_footer.html')
