.div(ng-controller='PazienteDettaglioCtrl')
  .page-header
    .row
      h1
        i.glyphicon.glyphicon-user
        | &nbsp;&nbsp;
        | {{ paziente.NOME }} {{ paziente.COGNOME }}
        br
        small Dati Anagrafici

  div(ng-include="'/partials/dati_anagrafici.html'")  
  br

  
  

  //- --- tentativo di usare angular-strap .... ma alla fine non mi serve no?
    div(data-fade="1", ngModel="activeTab", bs-tabs)
      div(data-title='Diagnosi'
          ng-include="'/partials/diagnosi_malattia_form_by_combo.html'")
      div(data-title='Anamnesi'
          ng-include="'/partials/anamnesi.html'")     
      div(data-title='Fattori di rischio'
          ng-include="'/partials/fattori_rischio.html'")   
      div(data-title='Terapia'
          ng-include="'/partials/terapia_form.html'")
      div(data-title='Terapia valutazione'
          ng-include="'/partials/terapia_valutazione_form.html'")

  //- utilizzo di bootstrap nudo e crudo
  ul.nav.nav-tabs
    li(ng-class="getClass('/diagnosi')")
      a(data-toggle="tab"
        href="#/pazienti/{{paziente.idPAZIENTE}}/diagnosi") Diagnosi
    li(ng-class="getClass('/anamnesi')")
      a(data-toggle="tab"
        href="#/pazienti/{{paziente.idPAZIENTE}}/anamnesi") Anamnesi
    li(ng-class="getClass('/fattori_rischio')")
      a(data-toggle="tab"
        href="#/pazienti/{{paziente.idPAZIENTE}}/fattori_rischio") Fattori di rischio
    li(ng-class="getClass('/terapia')")
      a(data-toggle="tab"
        href="#/pazienti/{{paziente.idPAZIENTE}}/terapia") Terapia
    li(ng-class="getClass('/terapia_val')")
      a(data-toggle="tab"
        href="#/pazienti/{{paziente.idPAZIENTE}}/terapia_val") Terapia valutazione
  .tab-content
    .tab-pane(
      ng-class="getClass('/diagnosi')"
      ng-include="'/partials/diagnosi_malattia_form_by_combo.html'")
    .tab-pane(
      ng-class="getClass('/anamnesi')"
      ng-include="'/partials/anamnesi.html'")
    .tab-pane(
      ng-class="getClass('/fattori_rischio')"
      ng-include="'/partials/fattori_rischio.html'")
    .tab-pane(
      ng-class="getClass('/terapia')"
      ng-include="'/partials/terapia_form.html'")
    .tab-pane(
      ng-class="getClass('/terapia_val')"
      ng-include="'/partials/terapia_valutazione_form.html'") 
