div( ng-controller='SospensioniCtrl' )
  .content
    h3 Sospensioni
    .col-xs-12.col-md-7
      p(ng-hide="sospensioni.length > 0") La terapia non è mai stata sospesa
      p(ng-show="sospensioni.length > 0") La terapia è stata sospesa per &nbsp;
        span.badge {{sospensioni.length}}
        | &nbsp; volte


      table.table-striped.table-bordered(ng-show="sospensioni.length > 0")
        thead
          tr
            th motivo
            th
            th inizio
            th fine
            
        tbody
          tr(ng-repeat="sosp in sospensioni", ng-class="sosp.class")
            td.col-md-4
              span(data-placement="bottom", tooltip="{{sosp.note}}") 
                {{sosp.sospensione}}
            td.col-md-2
              // span(data-placement="bottom", tooltip="{{sosp.note}}") 
              {{sosp.dettaglio}}
            td.col-md-1 
              span(data-placement="bottom", tooltip="{{sosp.data_inizio | fromNow }}")
                {{sosp.data_inizio | date:"dd/MM/yyyy"}}
            td.col-md-1
              span(data-placement="bottom", tooltip="{{sosp.data_fine | fromNow }}")
                {{sosp.data_fine | date:"dd/MM/yyyy"}}
            td
              button.btn.btn-xs.btn-default(ng-click="editSospensione(sosp.idterapia_sospensione)")
                i.glyphicon.glyphicon-pencil
              button.btn.btn-xs.btn-danger(ng-click="cancellaSospensione(sosp.idterapia_sospensione)")
                i.glyphicon.glyphicon-trash


    .col-xs-12.col-md-5
      button.btn.btn-default(
        ng-click="eForm.visible = true"
        ng-hide="eForm.visible") 
        i.glyphicon.glyphicon-plus-sign
        | &nbsp;Aggiungi Sospensione

      form(novalidate, role="form", name="form", ng-show="eForm.visible")      
        fieldset
          .form-group
            .row
              .col-md-6
                label Caratteristiche della sospensione
            .row
              .col-md-6
                select.selectpicker.form-control(
                    ng-required='true'
                    ng-options='tipo.cod_tipo_sospensione as tipo.descrizione for tipo in cod_tipo_sospensione'
                    ng-model='eForm.cod_tipo_sospensione')

            br
            .row
              .col-md-6
                label Infusioni somministrate
                  input(
                    name='numero_infusioni'
                    type='number'
                    min='0'
                    max='1000'
                    step='1' 
                    ng-required='true'
                    ng-model='eForm.num_infusioni_fatte' 
                    style = 'width :80px'                 
                    )

                  button(ng-click='calculateNumInfusioni()')                   
                    i.glyphicon.glyphicon-repeat
                 
              .col-md-6
                label Follow up
                  br
                  input(
                    name='mesi_followup'
                    type='number'
                    min='0'
                    max='1000'
                    step='1' 
                    ng-required='true'
                    ng-model='eForm.follow_up' 
                    style = 'width :80px'                   
                    )   
                  button(ng-click='calculateFollowUp()')                   
                    i.glyphicon.glyphicon-repeat 
            br
            .row
              .col-md-5
                label Data inizio sospensione
                  br
                  input( 
                    type='text'
                    ng-required='true'
                    datepicker-popup='dd-MM-yyyy'
                    datepicker-options='dateOptions'
                    ng-model='eForm.data_sospensione'
                    open='calendarOpened')

              .col-md-5
                label Data fine sospensione
                  br
                  input( 
                    type='text'
                    ng-required='true'
                    datepicker-popup='dd-MM-yyyy'
                    datepicker-options='dateOptions'
                    ng-model='eForm.data_fine_sospensione'
                    open='calendarOpened')

            .row              
              .col-md-5
                label Motivo
                  select.selectpicker.form-control(
                    ng-required='true'
                    ng-options='sosp.id as sosp.desc for sosp in tipo_sospensione.motiviSospensione'
                    ng-model='eForm.id_motivo_sospensione'
                    ng-change='tipo_sospensione.reloadMotiviSospensioneDett()'
                    )
                    //-option(value='') ----------  
              
              .col-md-6
                //label(ng-show="tipo_sospensione.getMotiviSospensione2().length > 0") Dettagli
                label Dettagli
                  select.selectpicker.form-control(
                    ng-required='true'
                    ng-options='sosp.id as sosp.desc for sosp in tipo_sospensione.motiviSospensioneDett'
                    ng-model='eForm.id_sospensione_dettaglio')
                    //-option(value='') ---------- 
            .row
              .col-md-12
                label Annotazioni
                  br
                  textarea(type='text', row='10', cols="50", ng-model ='eForm.annotazioni' )
            .row
              .col-md-2.col-md-offset-6
                button.btn.btn-default(
                    ng-click="eForm.init()") Annulla
              .col-md-3
                button.btn.btn-success(
                    ng-show="eForm.idterapia_sospensione", 
                    ng-click="aggiungiSospensione()"
                    ng-disabled="!eForm.id_motivo_sospensione || !eForm.data_sospensione"
                    )
                  i.glyphicon.glyphicon-ok-sign(  ng-show="eForm.idterapia_sospensione")
                  | &nbsp;Modifica
                button.btn.btn-success(
                    ng-hide="eForm.idterapia_sospensione", 
                    ng-click="aggiungiSospensione()"
                    ng-disabled="!eForm.id_motivo_sospensione || !eForm.data_sospensione")
                  i.glyphicon.glyphicon-plus-sign
                  | &nbsp;Aggiungi
              