div(ng-controller='TerapiaEditCtrl')
  .content
    br
    form( novalidate , name ='formTerapia')
      fieldset
        
        label Data Inizio Terapia con TCZ
          .form-horizontal
            input(  type='text'
                    datepicker-popup='dd-MM-yyyy'
                    datepicker-options='dateOptions'
                    ng-required='true'
                    ng-model='terapia.data_inizio'
                    open='calendarOpened')
        label(ng-show="terapia.data_inizio")
          | &nbsp;&nbsp;&nbsp;&nbsp; FollowUp Mesi &nbsp;
          span.badge {{terapia.data_inizio | monthsFromNow }}  
      br
      br
    form.form-inline(novalidate , name='form_concomitante')  
      h4 Terapia concomitante al Tocilizumab - DMARD
      br
      .form-group               
        
        label.inline-field Farmaco
          select.form-control(
            ng-options='farmaco.idtipo_farmaco as farmaco.nome for farmaco in farmaci_dimard'
            ng-model='tc_aggiungi.id_tipo_farmaco')
        
        label.inline-field Dose (mg)
          br
          input(type='number',min='0.0000',max='1000', step='0.05', ng-model ='tc_aggiungi.dose' )
      
        button.btn.btn-success.inline-field(
            ng-click='aggiungi_tc()'
            ng-disabled='!tc_aggiungi.id_tipo_farmaco || !tc_aggiungi.dose'
          )
          i.glyphicon.glyphicon-plus-sign
          | &nbsp; Aggiungi
      


      .row
        .col-xs-5(ng-hide='(terapie_concomitanti).length == 0')
          h5 elementi esistenti 
            span.badge {{(terapie_concomitanti).length}}
            
          table.table-striped.table-bordered.table-hover
            thead
              tr
                th Farmaco
                th Dose
                th  
            tbody
              tr(ng-repeat='t in terapie_concomitanti')
                td.col-md-1(align='center')  {{t.nome}}
                td.col-md-1(align='right')   {{t.dose}}
                td.col-md-1(align='center') 
                  button.btn.btn-danger.btn-xs(ng-click='elimina_tc(t)') 
                    i.glyphicon.glyphicon-trash
     br 
     br 
     br 

  .modal-footer
    button.btn.btn-default(
      ng-disabled='terapie_concomitanti.unchanged()'
      ng-click='Cancel()') Annulla
    button.btn.btn-primary(
      ng-click='Save()') Salva      
    