div(ng-controller='TerapiaEditCtrl')
  .content
    br
    form( novalidate , name ='formTerapia')
      fieldset
        
        label Data Inizio Terapia con TCZ
          .form-horizontal
            input(  type='text'
                    datepicker-popup='dd-MM-yyyy'
                    datepicker-options='dateOptions'
                    ng-required='true'
                    ng-model='terapia.data_inizio'
                    open='calendarOpened')
            
            button.btn(ng-click='openCalendar()')
              i.glyphicon.glyphicon-calendar
        label 
          | &nbsp;&nbsp;&nbsp;&nbsp; FollowUp Mesi 
        label {{ terapia.followUp }}
      br
      br
    form.form-inline(novalidate , name='form_concomitante')  
      h4 Terapia concomitante al Tocilizumab - DMARD
      br
      .form-group               
        
        label.inline-field Farmaco
          select.form-control(
            ng-options='farmaco.idtipo_farmaco as farmaco.nome for farmaco in farmaci_dimard'
            ng-model='tc_aggiungi.id_tipo_farmaco')
        
        label.inline-field Dose (mg)
          br
          input(type='number',min='0.0000',max='100', step='0.01', ng-model ='tc_aggiungi.dose' )
      
        button.btn.btn-info.btn-xs.inline-field(ng-click='aggiungi_tc()')
          i.glyphicon.glyphicon-plus-sign
          | &nbsp; Aggiungi
      


      .row
        .col-xs-5(ng-hide='(terapie_concomitanti).length == 0')
          h5 elementi esistenti ( nr. {{(terapie_concomitanti).length}} )
          table.table-striped.table-bordered.table-hover
            thead(style='background-color: rgba(82, 168, 236, 0.8);')
              tr
                th Farmaco
                th Dose
                th  
            tbody
              tr(ng-repeat='t in terapie_concomitanti')
                td.col-md-1(align='center')  {{t.nome}}
                td.col-md-1(align='right')   {{t.dose}}
                td.col-md-1(align='center') 
                  button.btn.btn-primary.btn-xs(ng-click='elimina_tc(t)') 
                    i.glyphicon.glyphicon-remove-circle
     br 
     br 
     br 

.modal-footer
  button.btn.btn-default(
    ng-disabled='terapie_concomitanti.unchanged()'
    ng-click='Cancel()') Annulla
  button.btn.btn-primary(
    ng-disabled='form.$invalid || formState.saving || terapie_concomitanti.unchanged()'
    ng-click='Save()') Salva      
    