include _date
.row
  .col-xs-12.col-sm-9.col-md-9.col-lg-7
    button.close(type="button", ng-click='initForm()', aria-hidden="true")&times;
form(novalidate , name='form_concomitante')        
  .form-group               
    .row          
      .col-xs-2.col-sm-2.col-md-2.col-lg-1
        label.inline-field Tempo
          input(type='number', min ='0', max='600', step='1',ng-required='true', ng-model ='tc_aggiungi.tempo')

      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        +date('Data Inizio','tc_aggiungi.d_inizio')

      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        +date('Data Fine','tc_aggiungi.d_fine')

    .row
      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        label.inline-field Farmaco
          select.form-control(
            ng-options='farmaco.idtipo_farmaco as farmaco.nome for farmaco in farmaci_dimard'
            ng-model='tc_aggiungi.id_tipo_farmaco')
      
      .col-xs-12.col-sm-2.col-md-2.col-lg-1
        label.inline-field Dose (mg)
          br
          input(type='number',min='0.0000',max='1000', step='0.05'
            ng-model ='tc_aggiungi.dose' )

      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        label.inline-field Motivo Sospensione
          select.form-control(
            ng-options='motivo.idtipo_motivo_sospensione as motivo.descrizione for motivo in tipo_sospensione_dimard'
            ng-model='tc_aggiungi.idtipo_motivo_sospensione'
            ng-required='false')

    .row
      .col-md-12
        label Annotazioni
        br
        textarea(type='text', row='10', cols="50"
          ng-model='tc_aggiungi.note', ng-required='false')
    br
    .row
      .col-md-3
        button.btn.btn-success.inline-field(
            ng-click='aggiungi_tc()'
            ng-hide='tc_aggiungi.idterapia_concomitante'
            ng-disabled='!tc_aggiungi.id_tipo_farmaco || !tc_aggiungi.dose'
          )
          i.glyphicon.glyphicon-plus-sign
          | &nbsp; Aggiungi

        button.btn.btn-primary.inline-field(
            ng-click='aggiungi_tc()'
            ng-show='tc_aggiungi.idterapia_concomitante'
            ng-disabled='!tc_aggiungi.id_tipo_farmaco || !tc_aggiungi.dose'
          )
          i.glyphicon.glyphicon-pencil
          | &nbsp; Modifica

        buntto.btn.btn-default.inline-field(
            ng-click='initForm()'
          ) Annulla
