h4 TERAPIA CON TOCILIZUMAB
div(ng-controller='TerapiaEditCtrl')
  .content
    br
    form( novalidate , name ='formTerapia')
      fieldset
        label Data Inizio Terapia
          .form-horizontal
            input(  type='text'
                    datepicker-popup='dd-MM-yyyy'
                    datepicker-options='dateOptions'
                    ng-required='true'
                    ng-model='terapia.data_inizio'
                    open='calendarOpened')
            
            button.btn(ng-click='openCalendar()')
              i.glyphicon.glyphicon-calendar
        label FollowUp M
        label {{ terapia.followUp }}
      br
      h4 Terapia concomitante al Tocilizumab - DMARD
      br
      fieldset
                
        .col-xs-2
          label Farmaco
            select.form-control(
            ng-required='true'
            ng-options='farmaco.idtipo_farmaco as farmaco.nome for farmaco in farmaci_dimard'
            ng-model='tc_aggiungi.id_tipo_farmaco')
        
        .col-xs-2
          label dose (mg)
            input(type='text', ng-model ='tc_aggiungi.dose' )
        button(ng-click='aggiungi_tc()')
          i.glyphicon.glyphicon-plus-sign
      br
     
      .col-xs-5(ng-hide='(terapie_concomitanti).length == 0')
        h5 elementi esistenti ( nr. {{(terapie_concomitanti).length}} )
        table.table-striped.table-bordered.table-hover
          thead(style='background-color: rgba(82, 168, 236, 0.8);')
            tr
              th Farmaco
              th Dose
              th  
          tbody
            tr(ng-repeat='t in terapie_concomitanti')
              td.col-md-1(align='center')  {{t.nome}}
              td.col-md-1(align='right')   {{t.dose}}
              td.col-md-1(align='center') 
                a(ng-href='#/pazienti/xxxx/{{t.idterapia_concomitante}}') Elimina
     br 
     br 
     br 
      
    
