div(ng-controller='TerapiaEditCtrl')
  .content
    br
    form( novalidate , name ='formTerapia')
      fieldset
        
        label Data Inizio Terapia con TCZ
          .form-horizontal
            input(  type='text'
                    datepicker-popup='dd-MM-yyyy'
                    datepicker-options='dateOptions'
                    ng-required='true'
                    ng-model='terapia.data_inizio'
                    open='calendarOpened')
        label(ng-show="terapia.data_inizio")
          | &nbsp;&nbsp;&nbsp;&nbsp; FollowUp Mesi &nbsp;
          span.badge {{terapia.data_inizio | monthsFromNow }}  
      br
      br

    //- -------------------------------------------------------------
    h4 Terapia concomitante al Tocilizumab - DMARD
    //- -------------------------------------------------------------
    .row
      .col-md-6(ng-hide='(terapie_concomitanti).length == 0')
        h5 elementi esistenti 
          span.badge {{(terapie_concomitanti).length}}
          
        table.table-striped.table-bordered.table-hover
          thead
            tr
              th Tempo
              th Data Inizio
              

              th Farmaco
              th Dose

              th Data Fine
              th Motivo Sosp.
              th Note              
          tbody
            tr(ng-repeat='t in terapie_concomitanti')
              td.col-md-1 {{t.tempo}}
              td.col-md-1 {{t.di}}
              td.col-md-1 {{t.nome}}
              td.col-md-1(align='right')   {{t.dose}}
              td.col-md-1 {{t.df}}
              td.col-md-1 {{t.motivo}}
              td.col-md-1 {{t.note}}
              td
                button.btn.btn-default.btn-xs(ng-click='modifica_tc(t)') 
                  i.glyphicon.glyphicon-pencil
                button.btn.btn-danger.btn-xs(ng-click='elimina_tc(t)') 
                  i.glyphicon.glyphicon-trash

      .col-md-5
        div(ng-include="'/partials/terapia_concomitante_form.html'")

        
      
                
     br 
     br 
     br 

  .modal-footer
    button.btn.btn-default(
      ng-disabled='terapie_concomitanti.unchanged()'
      ng-click='Cancel()') Annulla
    button.btn.btn-primary(
      ng-click='Save()') Salva      
    