br
h3 TERAPIA CON TOCILIZUMAB
div(ng-controller='TerapiaEditCtrl')
  .content
    br
    form( novalidate )
      fieldset
        label Data Inizio Terapia
          .form-horizontal
            input(  type='text'
                    datepicker-popup='dd-MM-yyyy'
                    datepicker-options='dateOptions'
                    ng-required='true'
                    ng-model='terapia.data_inizio'
                    open='calendarOpened')
            
            button.btn(ng-click='openCalendar()')
              i.glyphicon.glyphicon-calendar
        label FollowUp
        label {{ terapia.followUp }}
      br
      br
      h4 Terapia concomitante al Tocilizumab
      fieldset
        label Terapie con DMARD
        div(ng-repeat='terapia_concomitante in terapie_concomitanti')
          label
            input(type='checkbox' , ng-model="terapia_concomitante") 
            | {{terapia_concomitante.nome}}
            | dose mg : {{terapia_concomitante.dose}}
          
        
        
          
        
      
  