include _date
div(ng-controller='TerapiaEditCtrl')
  .content
    br
    form( novalidate , name ='formTerapia')
      fieldset
        +date('Data Inizio Terapia con TCZ', 'terapia.data_inizio')
        
        button.btn.btn-xs.btn-success(
          ng-hide='terapia.data_inizio == terapia.data_inizio_ori'
          ng-click='salva_inizio_terapia()')
          | &nbsp; Salva

        label(ng-show="terapia.data_inizio")
          | &nbsp;&nbsp;&nbsp;&nbsp; FollowUp Mesi &nbsp;
          span.badge {{terapia.data_inizio | monthsFromNow }}  
      
        


      br
      br

    //- -------------------------------------------------------------
    h4 Terapia concomitante al Tocilizumab - DMARD
    //- -------------------------------------------------------------
    div(ng-include="'/partials/terapia_concomitante_canc_form.html'")
    .row(ng-show='formState.visible')    
      div(ng-include="'/partials/terapia_concomitante_form.html'")
    .row
      .col-xs-12.col-sm-5.col-md-3.col-lg-3
        h5 elementi esistenti 
          span.badge {{(terapie_concomitanti).length}}
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        button.btn.btn-default( ng-hide='formState.visible', ng-click='formState.visible=true' )
          i.glyphicon.glyphicon-plus-sign
          | &nbsp; Aggiungi
    .row
      .col-md-12(ng-hide='(terapie_concomitanti).length == 0')    
        table.table-striped.table-bordered.table-hover
          thead
            tr
              th t.
              th Data Inizio              

              th Farmaco
              th Dose

              th Data Fine
              th Motivo Sosp.
              th Note              
          tbody
            tr(ng-repeat='t in terapie_concomitanti')
              td {{t.tempo}}
              td.col-md-1 {{t.d_inizio | date:"dd/MM/yyyy"}}
              td.col-md-1 {{t.nome}}
              td.col-md-1(align='right')   {{t.dose | number:2}}
              td.col-md-1 {{t.d_fine | date:"dd/MM/yyyy"}}
              td.col-md-2 {{t.motivo_sospensione}}
              td.col-md-4 {{t.note}}
              td(style='width: 58px;')
                button.btn.btn-default.btn-xs(ng-click='modifica_tc(t)') 
                  i.glyphicon.glyphicon-pencil
                button.btn.btn-danger.btn-xs(
                  ng-click='formState.tc_da_cancellare = t'
                  data-toggle="modal"
                  data-target="#cancella_tc_dlg" ) 
                  i.glyphicon.glyphicon-trash
